<!DOCTYPE html>
<html>
<head>
  <title>CoderChat | Group 1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash.any? %>
    <% flash.each do |key, value| %>
      <div id="alert-box" class="alert alert-<%= key == 'error' ? 'danger' : 'info' %>"><%= value %></div>
    <% end %>
  <% end %>
<nav class="navbar navbar-light bg-faded">

<div class="container">
  <%= link_to root_path, class: "bounceIn navbar-brand" do %>
    <i class="fa fa-forumbee"></i> CoderChat
  <% end %>
  <ul class="nav navbar-nav pull-xs-right">

    <% if user_signed_in? %>
      <%= li_link_to "Edit account", edit_user_registration_path, class:'btn btn-sm btn-secondary' %>
      <%= li_link_to "Sign out", destroy_user_session_path, method: 'delete', class:'btn btn-sm btn-danger' %>
    <% else %>
      <%= li_link_to "Sign in", new_user_session_path, class:'btn btn-success btn-sm' %>
      <%= li_link_to "Create new account", new_user_registration_path, class:'btn btn-secondary btn-sm' %>
    <% end %>
  </ul>
</div>
</nav>
  <div class="container ">
    <%= yield %>
  </div>

  <script>
    $("#alert-box").fadeTo(1000, 500).slideUp(500, function(){
    $("#alert-box").alert('close');
});
</script>
</body>
</html>
