<!DOCTYPE html>
<html>
<head>
  <title>CoderChat | Group 1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash.any? %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key == 'error' ? 'danger' : 'info' %>"><%= value %></div>
    <% end %>
  <% end %>
<nav class="navbar navbar-light bg-faded">

<div class="container">
  <a class="navbar-brand" href="#"><i class="fa fa-forumbee"></i> CoderChat</a>
  <ul class="nav navbar-nav pull-xs-right">
    <%= li_link_to "Home", root_url %>
    <% if user_signed_in? %>
      <%= li_link_to "Edit account", edit_user_registration_path %>
      <%= li_link_to "Sign out", destroy_user_session_path, method: 'delete' %>
    <% else %>
      <%= li_link_to "Sign in", new_user_session_path, class:'btn btn-success btn-sm' %>
      <%= li_link_to "Create new account", new_user_registration_path, class:'btn btn-secondary btn-sm' %>
    <% end %>
    <% if user_signed_in? %>
      <%= li_link_to "Users", root_path %>
    <% end %>
  </ul>
</div>  
</nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
